<header class="main-header">
<welcomebar></welcomebar>
</header>

<div class="login-box">
  <div class="login-box-body">
    <p class="login-box-msg">Forgot password</p>
    <form role="form" ng-submit="sendResetPass()" method="post">
      <auto:fields fields="schema" data="credentials" options="options"></auto:fields>
      <div class="row">
        <div class="col-xs-4">
        </div><!-- /.col -->
        <div class="col-xs-8">
          <button type="submit" id="signinButton" class="btn btn-primary btn-block btn-flat">Send password reset link</button>
        </div><!-- /.col -->
      </div>
    </form>

    
    <a href="#/register" class="text-center">Register a new membership</a>

  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->

<scitofooter></scitofooter>