<div class="box">
  <div>Asynchronous results</div>
  <pre>User: {{asyncSelected | json}}</pre>
  <input type="text" ng-model="asyncSelected" placeholder="Users loaded lazily here" typeahead='user for user in getUser($viewValue)' typeahead-loading="loadingUsers" class="form-control">
  <i ng-show="loadingUsers" class="glyphicon glyphicon-refresh"></i>

  <div class="box-body no-padding" style="min-height: 120px;">

  

    <table class="table table-bordered table-striped">
      <tr ng-repeat="user in users">
        <td>
          <a href="" ui-sref="app.users.view({id: user.id})">{{user.username}}</a>
          <span class="text-muted">{{user.email}}</span>
          <span ng-repeat="role in user.roles" class="label label-default">{{role.name}}</span>
          <span class="pull-right">
            <div class="btn-group">
              <button class="btn btn-xs btn-default" ui-sref="app.users.password({ id: user.id })"><i class="fa fa-key"></i></button>
              <button class="btn btn-xs btn-default" ui-sref="app.users.edit({ id: user.id })"><i class="fa fa-pencil"></i></button>
              <button class="btn btn-xs btn-danger" ng-click="delete({ id: user.id })"><i class="fa fa-trash-o"></i></button>
            </div>
          </span>
        </td>
      </tr>
    </table>
  </div>
  <div ng-if="loading" class="overlay"></div>
  <div ng-if="loading" class="loading-img"></div>
</div>


