<header class="main-header">
<welcomebar></welcomebar>
</header>

<div class="login-box">
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <form role="form" ng-submit="login()" method="post">
      <div class="callout callout-danger" ng-if="loginError">
        <p>{{loginError.message | translate}}</p>
      </div>
      <auto:fields fields="schema" data="credentials" options="options"></auto:fields>
      <div class="row">
        <div class="col-xs-8">
        </div><!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" id="signinButton" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div><!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center">
      <a ng-repeat="provider in authProviders" ng-hide="provider.link" ng-click="socialLogin(provider)"
         class="btn btn-block btn-social btn-{{provider.class}} btn-flat">
        {{provider.provider | ucfirst}}
      </a>
    </div><!-- /.social-auth-links -->

    <a href="#/forgotpass">I forgot my password</a><br>
    <a href="#/register" class="text-center">Register a new membership</a>

  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->

<scitofooter></scitofooter>