<div class="box">
    <div class="box-header">
        <h3 class="box-title" translate>
            Your profile
        </h3>
    </div>
    <div class="box-body">

        <div class="row">
            <div class="col-md-8">
                <formly-form result="user" fields="formFields" options="formOptions" ng-submit="onSubmit()"></formly-form>
            </div>

            <div class="col-md-4">

                <div class="box box-solid bg-light-blue">
                    <div class="box-header">
                        <h3 class="box-title" >
                            Your profile picture
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="text-center">
                            <img ng-src="{{myprofilephoto.url}}" class="img-circle" alt="User Image">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".example-modal">Change photo..</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="controls">
            <button class="btn btn-primary btn-success" ng-click="onSubmit()" translate>Update profile</button>
        </div>
    </div>
    <div ng-if="loading" class="overlay"></div>
    <div ng-if="loading" class="loading-img"></div>

    <!-- upload modal -->
    <div class="modal fade example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="uploadModal">
      <div class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Change profile photo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div>Select an image file: <input type="file" id="fileInput" accept="image/gif, image/jpeg, image/png"/></div>
                        <div class="cropArea">
                            <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div>Displayed photo:</div>
                        <div style="margin-top:70px"><img ng-src="{{myCroppedImage}}" class="img-circle" /></div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12">
                        <div class="progress progress-sm active" ng-hide="data.progress < 5">
                          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" ng-style="{'width' : data.progress + '%'}">
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" ng-click="cancelUpload()">Cancel</button>
              <button type="button" class="btn btn-primary" ng-click="uploadPicture()">Keep this image</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div><!-- /.example-modal -->
</div>
