<header class="main-header">
<welcomebar></welcomebar>
</header>

<div class="register-box">

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>
    <form name="joinForm" class="form-signin" role="form" ng-submit="register()">
      <div class="callout callout-danger" ng-if="registerError">
        <p>{{registerError.message | translate }}</p>
      </div>
      <auto:fields fields="schema" data="registration" options="options"></auto:fields>
      <div class="row">
        <div class="col-xs-8">
        </div><!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" ng-class="{'btn-primary':joinForm.$valid}">Register</button>
        </div><!-- /.col -->
      </div>
    </form>

    Already changing the way we do science? <a href="#/login">Sign in!</a>
  </div><!-- /.form-box -->
</div><!-- /.register-box -->


<scitofooter></scitofooter>