<header class="main-header">
<welcomebar></welcomebar>
</header>

<div class="register-box">

  <div class="register-box-body">
    <p class="login-box-msg">Reset your password</p>
    <form name="joinForm" class="form-signin" role="form" ng-submit="reset()">
      <div class="callout callout-danger" ng-if="resetError">
        <p>{{resetError.message | translate }}</p>
      </div>
      <auto:fields fields="schema" data="registration" options="options"></auto:fields>
      <div class="row">
        <div class="col-xs-4">
        </div><!-- /.col -->
        <div class="col-xs-8">
          <button type="submit" class="btn btn-primary btn-block btn-flat" ng-class="{'btn-primary':joinForm.$valid}">Reset password</button>
        </div><!-- /.col -->
      </div>
    </form>
  </div><!-- /.form-box -->
</div><!-- /.register-box -->


<scitofooter></scitofooter>