<div class="row">
  <div protocol-listsmallx protocols="protocols" boxtitle="Protocols starred by user"></div> 
</div>

<div ng-show="!protocols.length" class="overlay">
  <i class="fa fa-refresh fa-spin"></i>
</div>