<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">

      <div class="box text-center">
        <div class="box-header with-border">
          <h3 class="box-title">
            {{user.firstName}} {{user.lastName}}
          </h3>
        </div>
        <div class="box-body">
          <img ng-src="https://s3-eu-west-1.amazonaws.com/scitocols-profile-photos/{{user.id}}.jpg" class="img-circle" style="width:128px" alt="User Image">
          <h4>
            {{user.username}}
          </h4>
        </div>
        <div class="box-footer">
          <span>
            Member since {{user.created | date:'mediumDate'}}
          </span>
        </div>
      </div>
    </div>

    <div class='col-md-8'>

      <div protocol-listsmall></div>

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">
            Recent discussions
          </h3>
        </div>
        <div class="box-body list-group">
          <div ng-repeat="comment in user.comments" class="list-group-item">
             <div ng-if="loading" class="overlay"></div>
              <a ng-if="comment.commentableType==='protocol'" href="" ui-sref="app.protocols.view({id: comment.commentableId})">Protocol</a>
              <a ng-if="comment.commentableType==='step'" href="" ui-sref="app.steps.view({id: comment.commentableId})">Step</a>
              <p class="list-group-item-text">Comment message: {{comment.text}}</p>
              <p class="list-group-item-text">Date created: {{comment.created | date:'medium'}}</p>
          </div>
        </div>
      </div>

      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">
          Protocols contributed to recently
          </h3>
        </div>
        <div class="box-body list-group">
          <div ng-repeat="commit in user.commits" class="list-group-item">
             <div ng-if="loading" class="overlay"></div>
              <a href="" ui-sref="app.protocols.view({id: commit.protocolId})">Protocol</a>
              <p class="list-group-item-text">Commit message: {{commit.msg}}</p>
              <!-- <p class="list-group-item-text">Date created: {{commit.created | date:'medium'}}</p> -->
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>




