<header class="main-header">
<welcomebar></welcomebar>
</header>

<div class="jumbotron jumbotron-welcome">
  <div class="container">
    <div class="col-xs-8">
      <h1>Let's do science, together!</h1>
      <h2>It is time for science collaboration to enter the 21<sup>st</sup> century. Scitocols offers powerful collaboration tools, version control for protocols, and many other exciting features soon to come.</h2>
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p> -->
    </div>

    <div class="col-xs-4 register-box-body">
      <form name="joinForm" class="form-signin" role="form" ng-submit="register()">
        <div class="callout callout-danger" ng-if="registerError">
          <p>{{registerError.message | translate }}</p>
        </div>
        <auto:fields fields="schema" data="registration" options="options"></auto:fields>
            <button type="submit" class="btn btn-primary btn-block btn-flat btn-success" ng-class="{'btn-primary':joinForm.$valid}">Sign up for Scitocols</button>
      </form>

    <h3>Already changing the way we do science? <a href="#/login">Sign in!</a></h3>
  </div><!-- /.form-box -->

  </div>
</div>

<scitofooter></scitofooter>