<div class="box">
    <div class="box-header">
        <h3 class="box-title" translate>Commits</h3>
        </div>
</div>
    <div class="box-body">
        <div class='list-group'>
            <div ng-repeat="commit in commits" class="list-group-item">
            Commit ID: {{commit.id}}
            <br>
              <a href="" ui-sref="app.protocols.view({id: commit.protocolId})">
              Protocol
              </a>
            <br>
            <p>
            <a class="list-group-item-text" ui-sref="app.users.view({id:commit.userId})">User: {{commit.userId}}</a>
            </p>
                <span class="pull-right btn-group" style="margin-top: 7px;">
                  <a href="" class="btn btn-sm btn-default" ui-sref="app.protocols.view({id: commit.protocolId})">
                      <i class="fa fa-pencil"></i>
                  </a>
                  <a href="" class="btn btn-sm btn-default" ng-click="delete({id: commit.id})">
                      <i class="fa fa-trash-o"></i>
                  </a>
                </span>
                <h4 class="list-group-item-heading">
                    <a href="" ui-sref="^.view({id: commit.id})">{{commit.msg}}</a>
                </h4>
                <!-- <p class="list-group-item-text">{{commit.slug}}</p> -->
            </div>
            <div ng-show="!commits.length" class="list-group-item">
                <h4 class="list-group-item-heading" translate>
                    There are no commits
                </h4>
                <p class="list-group-item-text" translate>Click <a href="" ui-sref="^.add">here</a> to add a commit!</p>
            </div>
        </div>
    </div>
    <div ng-if="loading" class="overlay"></div>
    <div ng-if="loading" class="loading-img"></div>
</div>
