<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">A contribution to the protocol <a href="" ui-sref="app.protocols.view({id: icommit.protocolId})">{{icommit.protocol.title}}</a></h3>
  </div><!-- /.box-header -->
  <div class="box-body">
      <li class="products-list product-list-in-box item">
        <div>
            <a href="" ui-sref="app.users.view({id: icommit.userId})"><img class="direct-chat-img" ui-sref="app.users.view({id: icommit.userId})" ng-src="https://s3-eu-west-1.amazonaws.com/scitocols-profile-photos/{{icommit.userId}}.jpg" alt="commit user image" /></a>
        </div>
        <div class="product-info">
          <span><b>{{icommit.msg}}</b></span> <span class="pull-right">{{icommit.created | amCalendar}}</span>
          <span class="product-description">
            By user <a href="" ui-sref="app.users.view({id: icommit.userId})">{{icommit.user.username}}</a>.
          </span>
        </div>
      </li><!-- /.item -->
      <li class="products-list product-list-in-box item">
        <div class="product-info">
            <a href="" class="pull-right btn btn-default" ui-sref="app.protocols.view({id: icommit.protocolId, version:icommit.oid})">
            Go to protocol at this version
          </a>
        </div>
      </li>
      <div>

      </div>
  </div><!-- /.box-body -->
</div>


<div class="box">
    <div class="box-body">

        <h4>Changes made in this contribution:</h4>
        <br>
      <div ng-repeat="change in commitInfo.gitdiff.changes">
        <div ng-if='change.oldFile.slice(-4) !== "info"'>
          <!-- <p>Old file: {{change.oldFile.slice}}</p> -->
          <!-- <p>New file: {{change.newFile}}</p> -->
          <!-- <p>Changes: {{change.hunkHeader}}</p> -->
          <p> Lines changed:</p>
             <ul>
               <li ng-repeat="line in change.linesChanged">
                 <p class='{{line.lineClass}}' marked="line.lineContent"></p>
               </li>
             </ul>
         </div>
      </div>

    </div>
    <div ng-if="loading" class="overlay"></div>
    <div ng-if="loading" class="loading-img"></div>
</div>