<!-- The timeline -->
<ul class="timeline timeline-inverse">
  <!-- timeline time label -->

    <li ng-repeat-start="commit in commits | orderBy:'-created'" class="time-label">
          <span class="bg-green">
            {{commit.created | amDateFormat:'MMMM Do YYYY'}}
          </span>
    </li>
    <!-- /.timeline-label -->
    <!-- timeline item -->
    <li ng-repeat-end>
      <i class="fa fa-pencil bg-blue"></i>

      <div class="timeline-item">
        <span class="time"><i class="fa fa-clock-o"></i> {{commit.created | amDateFormat:'hh:mm'}}</span>

        <h3 class="timeline-header"><a href="" ui-sref="app.users.view({id: commit.userId})"><img class="img-circle img-bordered-sm" ui-sref="app.users.view({id: commit.userId})" ng-src="https://s3-eu-west-1.amazonaws.com/scitocols-profile-photos/{{commit.userId}}.jpg" width="32px" height="32px" alt="commit user image" /></a><a href="" ui-sref="app.users.view({id: commit.userId})"> {{commit.user.username}}</a> made some changes</h3>

        <div class="timeline-body">
          {{commit.msg}}
        </div>
        <div class="timeline-footer">
          <a class="btn btn-warning btn-flat btn-xs" href="" ui-sref="app.commits.view({id: commit.id})">View changes</a>
        </div>
      </div>
    </li>
    <li>
      <i class="fa fa-clock-o bg-gray"></i>
    </li>
    <!-- END timeline item -->
</ul>
<div class="box-footer text-center">
  <a href="" class="uppercase" ng-if='false && REENABLE_ALLCONTRIBUTIONSLIST'>View all contributions (TODO: make link work)</a>
</div><!-- /.box-footer -->