<div class="dataTables_paginate paging_simple_numbers">
  <ul class="pagination">
    <li class="paginate_button previous" ng-if="pagination.current != 1">
      <a href="" ng-click="setCurrent(1)">&laquo;</a>
    </li>
    <li class="paginate_button" ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
      <a href="" ng-click="setCurrent(pagination.current - 1)" class="ng-binding">‹</a>
    </li>
    <li class="paginate_button" ng-repeat="pageNumber in pages track by $index" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
      <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
    </li>
    <li class="paginate_button" ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">
      <a href="" ng-click="setCurrent(pagination.current + 1)" class="ng-binding">›</a>
    </li>
    <li class="paginate_button next" ng-if="pagination.current != pagination.last">
      <a href="" ng-click="setCurrent(pagination.last)">&raquo;</a>
    </li>
  </ul>
</div>