<div class="row">
  <div class="col-md-3">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Filter by</h3>
        <div class="box-tools pull-right">
          <div class="has-feedback">
            <input ng-model="query" type="text" class="form-control input-sm"/>
            <span class="glyphicon glyphicon-filter form-control-feedback"></span>
          </div>
        </div><!-- /.box-tools -->
      </div><!-- /.box-header -->
    </div><!-- /.box -->
  </div>
  <div class="col-md-2">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Sort by</h3>
        <div class="box-tools pull-right">
          <div class="has-feedback">
            <select ng-model="orderer" class="form-control">
              <option value="title">Title</option>
              <option value="created">Date</option>
            </select>
          </div>
        </div><!-- /.box-tools -->
      </div><!-- /.box-header -->
    </div><!-- /.box -->
  </div>
</div>



  <div class="row" infinite-scroll='loadMore()' infinite-scroll-disabled='busyLoadingData' infinite-scroll-distance='0'>
    <div class="col-lg-3 col-md-4 col-xs-6" ng-repeat="card in protocols | filter:query | orderBy:orderer" >
      <div class="box box-primary" style="height:350px;width:220px;overflow:hidden;">
        <div class="box-header with-border">
          <a href="" ui-sref="app.protocols.view({id: card.id})"><img ng-src="https://s3-eu-west-1.amazonaws.com/scitocols-protocol-coverphotos/{{card.id}}.jpg" style="width: 200px; margin-bottom:5px;"></a>
          <h3 class="box-title"><a href="" ui-sref="app.protocols.view({id: card.id})">{{card.title}}</a></h3>
        </div>
        <div class="box-body">
          <p>Created: {{card.created | date:'medium'}}</p>
        </div>
        <div class="box-footer" style="overflow:hidden;">
          <p>{{card.description}}</p>
        </div>
        <div style='clear: both;'></div>
      </div>
    </div>
    <div style='clear: both;'></div>

  </div>
