  <div class="row">
    <div dir-paginate="card in protocols | itemsPerPage: pageSize" total-items="totalcount" current-page="pagination.current" class="col-lg-3 col-md-4 col-xs-6">

      <div class="box box-widget widget-user" style="width:250px;">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-purple" ng-style="{'background-image': 'url(' + 'https://s3-eu-west-1.amazonaws.com/scitocols-protocol-coverphotos/' + card.id + '.jpg?' + cacheBuster() + ')'}" style="center center;" >
          <span class="pull-right btn-group">
           <i ng-if='card.isPublic' class="btn btn-sm btn-default fa fa-globe"></i>
           <i ng-if='!card.isPublic' class="btn btn-sm btn-default fa fa-lock"></i>
          </span>
          <h3 class="widget-user-username"><a href="" style="color:#fff" ui-sref="app.protocols.view({id: card.id})">{{card.title}}</a></h3>
          <h5 class="widget-user-desc">{{card.created | date:'medium'}}</h5>
        </div>
        <div class="box-footer">
          <div class="row">
            <div class="col-sm-12">
              <div class="description-block" style="text-overflow:ellipsis; overflow:hidden; width:240px; height:120px;">
                <h5 class="description-header" ng-if="card.ownerType=='team'">By team <a href="" ui-sref="app.teams.view({id: card.owner.id})">{{card.owner.name}}</a></h5>
                <h5 class="description-header" ng-if="card.ownerType=='user'">By user <a href="" ui-sref="app.users.view({id: card.owner.id})">{{card.owner.username}}</a></h5>
                <br>
                <span marked="card.description"></span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <dir-pagination-controls on-page-change="goToPage(newPageNumber)" template-url="../modules/protocols/directives/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
  </div>
