<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Protocols</h3>
    <div class="box-tools pull-right">
      <span class="label label-primary">{{protocols.length}} Protocols</span>
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
      <div class="form-group col-sm-4">
        <div class="input-group col-sm-8">
          <input ng-model="query" type="text" class="form-control" id="inputFilter" placeholder="Filter:"/>
          <span class="input-group-addon"><i class="fa fa-filter"></i></span>
        </div>
      </div>
      <div class="form-group col-sm-8">
        Order:
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-click="orderer='+title'">Title <i class="fa fa-fw fa-sort-alpha-asc"></i></button>
          <button type="button" class="btn btn-default" ng-click="orderer='-title'"><i class="fa fa-fw fa-sort-alpha-desc"></i></button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-click="orderer='+created'">Date <i class="fa fa-fw fa-sort-numeric-asc"></i></button>
          <button type="button" class="btn btn-default" ng-click="orderer='-created'"><i class="fa fa-fw fa-sort-numeric-desc"></i></button>
        </div>
      </div>
  </div><!-- /.box-body -->
  <div class="box-footer">
    <ul class="products-list product-list-in-box">
      <li class="item" ng-repeat="card in protocols | filter:query | orderBy : orderer : orderer=='created'">
        <div class="center-cropped-list">
          <img ng-src="https://s3-eu-west-1.amazonaws.com/scitocols-protocol-coverphotos/{{card.id}}.jpg">
        </div>
        <div class="product-info">
          <a href="" ui-sref="app.protocols.view({id: card.id})">{{card.title}}<span class="label label-warning pull-right">{{card.created | date:'short'}}</span></a>
          <span class="product-description">
            {{card.description}}
          </span>
        </div>
      </li><!-- /.item -->
    </ul>
  </div><!-- /.box-footer -->
</div>