<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">{{boxtitle}}</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-small btn-success" ng-if="boxtitle=='Your recent protocols'" ui-sref='app.protocols.add'>+ New protocol</button>
    </div>
  </div>
  <div class="box-body">
    <ul class="products-list product-list-in-box">
      <li class="item" ng-repeat="card in protocols | filter:query | orderBy : orderer : orderer=='created'">
        <div class="center-cropped-list">
          <img class="portrait" ng-src="https://s3-eu-west-1.amazonaws.com/scitocols-protocol-coverphotos/{{card.id}}.jpg">
        </div>
        <div class="product-info">
          <a href="" ui-sref="app.protocols.view({id: card.id})">{{card.title}}<span class="label label-warning pull-right">{{card.created | date:'short'}}</span></a>
          <span class="product-description">
            {{card.description}}
          </span>
        </div>
      </li><!-- /.item -->
    </ul>
  </div><!-- /.box-body -->
  <div class="box-footer text-center">

    <button ng-if="boxtitle=='Your recent protocols'" class="btn btn-primary" ui-sref='app.protocols.list({listPublic:false})'> Show all my protocols</button>
    <button ng-if="boxtitle=='Recent public protocols'" class="btn btn-primary" ui-sref='app.protocols.list({listPublic:true})'> Show more public protocols</button>
  </div>
</div>