<div class="post collapse-group" ng-repeat="step in protocol.steps">
  <div class="user-block">
    <img class="img-circle img-bordered-sm" src="http://dummyimage.com/128/ffffff/000000.gif&text={{$index+1}}" alt="user image">
        <span class="username">
          <a href="" ng-click="checked=!checked">Step {{$index+1}}</a>
          <a href="" class="pull-right btn-box-tool" ng-click="checked=!checked"><i ng-class="{'fa fa-check': checked, 'fa fa-circle-o': !checked}"></i></a>
        </span>
        <span class="description">{{step.title}}</span>
  </div>
  <!-- /.user-block -->

    <p marked="step.text">
    </p>
    <div file-attachments istep='step.bucket'></div>
    <div ng-show="!isPreview">
      <div comment-list commentable-id='{{step.id}}' comments-array='empty'></div>
    </div>
</div>

