.button-menu-space{
  height:10px;
}
@media (min-width: 1150px) {
  .floating-menu{
    position: fixed;
  }

  .no-margin{
    margin-left: 0px
  }

  .animate-hide {
   -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
      -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
      -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5;
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
    line-height:20px;
    opacity:1;
    padding-top:5px;
    padding-bottom: 5px;
    border:1px solid black;
    background:white;
    position: absolute;
    left: 0;
    width: 200px
  }

  .animate-hide.ng-hide {
    left:0;
    opacity:0.6;
    width: 0px
  }

  .animate-show {
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    border: 1px solid black;
    background: white;
  }

  .button-transferred{
    position: absolute;
    left: -210px;
  }
}

@media (max-width: 1100px) {
  .no-margin{
    margin-left: 0px
  }

  .animate-hide {
    line-height:20px;
    opacity:1;
    padding-top:5px;
    padding-bottom: 5px;
    border:1px solid black;
    background:white;
    left: 0;
    width: 200px
  }

  .animate-hide.ng-hide {
    left:0;
    opacity:0.6;
    width: 0px
  }

  .animate-show {
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    border: 1px solid black;
    background: white;
  }
}

.wrap{
  position:relative;
}

.protocol-title-header{
  width:100%;
}

.protocol-title-edit{
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.protocol-title-edit {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.protocol-title-edit.focused {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.gallery {
  padding: 0;
}
.gallery li {
  display: inline-block;
  margin: 0 1em 1em 0;
  list-style-type: none;
  text-align: center;
}
div.center-cropped-list {
  width: 50px;
  height: 50px;
  overflow:hidden;
  float: left;
}
div.center-cropped-list img {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
div.center-cropped {
  width: 130px;
  height: 130px;
  overflow:hidden;
}
div.center-cropped img {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
.widget-protocol .widget-protocol-header {
  padding: 20px;
  height: 280px;
  background-repeat: no-repeat;
  background-position: center; 
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.widget-protocol .widget-protocol-username {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 300;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.widget-protocol .widget-protocol-desc {
  margin-top: 0;
}
.widget-protocol .box-footer {
  padding-top: 10px;
}

.jumbotron-welcome{
    margin-bottom: 0px;
    background-image: url(../images/background_lab.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
}

.git-line-added{
  background-color: #eaffeb;
}

.git-line-removed{
  background-color: #ffeced;
}

.bootstrap .tags {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap .tags.focused {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.bootstrap .tags .tag-item {
  background: #428bca;
  border: 1px solid #357ebd;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item.selected {
  background: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item button {
  background: transparent;
  color: #000;
  opacity: .4;
}

.bootstrap .autocomplete {
  border-radius: 4px;
}

.bootstrap .autocomplete .suggestion-item.selected {
  color: #262626;
  background-color: #e9e9e9;
}

.bootstrap .autocomplete .suggestion-item em {
  font-weight: normal;
  background-color: #ffff00;
}

.bootstrap .autocomplete .suggestion-item.selected em {
  color: #262626;
  background-color: #ffff00;
}

.as-sortable-item {
    min-height: 20px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px;
}
.as-sortable-placeholder {
    min-height: 20px;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
}

.as-sortable-item {
    border: solid 0px;
    background-color: #ffffff;
}

.masonry-brick {
    margin-left: 5px;
    margin-right: 5px;
    width: 250px;
    display: hidden;
}

.masonry-brick .loaded {
    display: block;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:300px;
  height:300px;
}

.vcenter {
  margin: 0 auto;
}

.example-modal .modal {
  position: absolute;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  display: block;
  z-index: 1;
}
.example-modal .modal {
  background: transparent!important;
}

.full-height {
    height: 100%;
}
.small-box{
  cursor: pointer;
}
.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  /*position: absolute;*/
  /*left: 0;*/
  /*right: 0;*/
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  /*-webkit-transform:scale3d(0.5, 0.5, 0.5);*/
  /*-moz-transform:scale3d(0.5, 0.5, 0.5);*/
  /*transform:scale3d(0.5, 0.5, 0.5);*/
}

[ui-view].ng-enter-active {
  opacity: 1;
  /*-webkit-transform:scale3d(1, 1, 1);*/
  /*-moz-transform:scale3d(1, 1, 1);*/
  /*transform:scale3d(1, 1, 1);*/
}

[ui-view].ng-leave {
  opacity: 1;
  /*-webkit-transform:translate3d(0, 0, 0);*/
  /*-moz-transform:translate3d(0, 0, 0);*/
  /*transform:translate3d(0, 0, 0);*/
}

[ui-view].ng-leave-active {
  opacity: 0;
  display: none;
  /*-webkit-transform:translate3d(100px, 0, 0);*/
  /*-moz-transform:translate3d(100px, 0, 0);*/
  /*transform:translate3d(100px, 0, 0);*/
}
.nav-tabs > li > a, .nav-tabs > li > a:hover {
  cursor: pointer;
}

.commentArea {
  width: 90%;
}

.protocol-input-box {
  width: 100%;
  height: 100%;
  resize: none;
}
