<div class="box">
    <div class="box-header">
        <span class="box-title">
            <div class="input-group">
                <input ng-model="team.name" type="text" class="form-controls form-wide" placeholder="Please give your new team a name" required="required"
                       style="margin-left: 2px; border: 0px; width:400px;">
            </div>
        </span>

        <div class="box-tools pull-right">
            <span class="pull-right btn-group">
            <button class="btn btn-primary btn-success btn-sm" ng-click="onSubmit()"><i class="fa fa-save"></i> 
            <span ng-if='creatingNew'>Create team</span> <span ng-if='!creatingNew'>Update</span>
            </button>
            <a ng-if='!creatingNew' href="" class="btn btn-sm btn-default" ui-sref="^.view({id: team.id})">
                <i class="fa fa-eye"></i>
            </a>
            <a ng-if='!creatingNew' href="" class="btn btn-sm btn-default" ng-click="delete({id: team.id})" >
                <i class="fa fa-trash-o"></i>
            </a>
          </span>
        </div>
    </div>

    <ul>
    <li ng-repeat="member in team.members">
        {{member.username}}

        <button ng-click="team.members.splice($index,1)"><i class="fa fa-times"></i></button>

    </li>
    </ul>

    <div class="box-body"> 



        <h4>Search and add users to your new team:</h4>
        <input type="text" ng-model="asyncUser" typeahead-on-select="addTeamMember($item)" placeholder="Start typing a user's email here" typeahead='user.username for user in getUser($viewValue)' typeahead-loading="loadingLocations" class="form-control">
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

        <ul>
            <li ng-repeat="member in memberList">
                {{member}}
            </li>
        </ul>

        <div class="alert alert-danger" ng-if="addError" translate>Could not add team!</div>

    </div>
    <div ng-if="loading" class="overlay"></div>
    <div ng-if="loading" class="loading-img"></div>
</div>

