<div class="box">
    <div ng-if="loading" class="overlay"></div>
    <div ng-if="loading" class="loading-img"></div>

    <div class="box-header">
        <h3 class="box-title" translate>Your teams</h3>
    </div>
    <div class="box-body">
        <div class='list-group'>
            <div ng-repeat="team in teams" class="list-group-item">
                <span ng-if="false && REENABLE_TEAMBUTTONS" class="pull-right btn-group" style="margin-top: 7px;">
                  <a href="" class="btn btn-sm btn-default" ui-sref="^.edit({id: team.id})">
                      <i class="fa fa-pencil"></i>
                  </a>
                  <a href="" class="btn btn-sm btn-default" ng-click="delete({id: team.id})">
                      <i class="fa fa-trash-o"></i>
                  </a>
                </span>
                <h4 class="list-group-item-heading">
                    <i class="fa fa-users"></i>
                    <a href="" ui-sref="^.view({id: team.id})">{{team.name}}</a>
                </h4>
            </div>
            <div ng-show="!teams.length && !loading" class="list-group-item">
                <h4 class="list-group-item-heading">
                You're not a member of any teams. Why not 
                <a href="#" ui-sref='app.teams.create'> create a new team?</a>
                </h4>
            </div>
            </div>
        </div>
    </div>

</div>
