<div class="row">
    <div class="col-md-6">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Team Members of {{team.name}}</h3>
                <div class="box-tools pull-right">
                    <span class="label label-danger">{{team.members.length + 1}} Members</span>
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
                <ul class="users-list clearfix">
                    <li>
                        <a href="" ui-sref="app.users.view({id: team.owner.id})"><img style="width:64px" ng-src="https://s3-eu-west-1.amazonaws.com/scitocols-profile-photos/{{team.owner.id}}.jpg" ui-sref="app.users.view({id: team.owner.id})" alt="user image" /></a>
                        <a class="users-list-name" href="" ui-sref="app.users.view({id: team.owner.id})">{{team.owner.firstName}} {{team.owner.lastName}}</a>
                        <span class="users-list-date">Owner</span>
                    </li>

                    <li ng-repeat="member in team.members">
                        <a href="" ui-sref="app.users.view({id: member.id})"><img style="width:64px" ng-src="https://s3-eu-west-1.amazonaws.com/scitocols-profile-photos/{{member.id}}.jpg" ui-sref="app.users.view({id: member.id})" alt="user image" /></a>
                        <a class="users-list-name" href="" ui-sref="app.users.view({id: member.id})">{{member.firstName}} {{member.lastName}}</a>
                        <span class="users-list-date">Member</span>
                    </li>
                </ul><!-- /.users-list -->
            </div><!-- /.box-body -->
            <div class="box-footer text-center">
                <button class="btn btn-primary" ui-sref="^.edit({id: team.id})">
                Edit team settings and members
                </button>
            </div>
        </div>


    </div>
    <div class="col-md-6">
        <div protocol-listsmall></div>

        <div class="box-no-header text-center">
            <button ng-show="isTeamOwner || isTeamMember" ui-sref="app.protocols.add({ownerType:'team', ownerId:'{{teamId}}'})" class="btn btn-primary">
            Create a team protocol
            </button>
        </div>

    </div>
</div>

