<!doctype html>
<html ng-app="loopbackApp" ng-controller="LayoutCtrl">
<head>
  <meta charset="utf-8">
  <title>Scitocols</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="favicon.ico?v=3" />
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css styles/main.css -->
  <!-- include: "type": "css", "files": "css/*.css" -->
  <!-- include: "type": "css", "files": "bower_components/admin-lte/dist/css/skins/_all-skins.min.css" -->
  <!-- include: "type": "css", "files": "bower_components/font-awesome/css/font-awesome.min.css" -->
  <!-- include: "type": "css", "files": "modules/**/*.css" -->
  <!-- endbuild -->
</head>
<body class="{{getSetting('appTheme') }} {{ getSetting('appLayout') }} " ng-controller="MainCtrl">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div ui-view ng-class="{'full-height': currentUser.id === undefined}" class="wrapper"></div>

<div ng-controller="toasty-controller">
  <toasty-container toasty-defaults='{"timeout": 3000, "close-button":true, "sound": false}'></toasty-container>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push (arguments)
    }, i[r].l = 1 * new Date ();
    a = s.createElement (o),
      m = s.getElementsByTagName (o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore (a, m)
  }) (window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga ('create', 'UA-XXXXX-X');
  ga ('send', 'pageview');
</script>


<!-- build:js scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->
<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js scripts/scripts.js -->
<!-- JS -->
<!-- include: "type": "js", "files": "js/*.js" -->
<!-- include: "type": "js", "files": "bower_components/admin-lte/plugins/slimScroll/*.min.js" -->
<!-- MODULES -->
<!-- include: "type": "js", "files": "modules/**/*.js" -->
<!-- endbuild -->

<script>
 //monkey patch for the collapseable boxes in admin lte
 
 //Listen for collapse event triggers
 $(document).on('click', '[data-widget="collapse"]', function (e) {
  console.log("here is the patch");
   e.preventDefault();
   $.AdminLTE.boxWidget.collapse($(this));
 });

</script>

</body>
</html>
