<div class="box">
  <div class="box-body">


    <div class='list-group'>
      <div ng-repeat="tag in tags" class="list-group-item">
        <span class="pull-right btn-group" style="margin-top: 7px;">
          <a href="" class="btn btn-sm btn-default" ng-click="delete(tag.id)">
            <i class="fa fa-trash-o"></i>
          </a>
        </span>
        <p class="list-group-item-text">Key: {{tag.text}}</p>
        <p class="list-group-item-text">Date created: {{tag.created | date:'medium'}}</p>
      </div>
    </div>


  </div>
  <div ng-if="loading" class="overlay"></div>
  <div ng-if="loading" class="loading-img"></div>
</div>


