<nav class="navbar navbar-static-top bg-purple" role="navigation">
  <!-- Navbar Right Menu -->
  <div class="container">
    <div class="navbar-header">
      <a href="/#/"><img src="../../../images/logo.png" alt="scitocol logo"></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menuoptions" ui-sref-active="active">
            <a class="" href="" id="menuoption{{item.name}}" ui-sref="{{item.sref}}"><i class="fa fa-fw {{item.icon}}"></i> {{item.name | translate}}</a>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="input-group">
          <input type="text" class="form-control" id="navbar-search-input" placeholder="Find a protocol..." 
          ng-model="asyncProtocol" typeahead ="protocol.title for protocol in searchProtocols($viewValue)"
          typeahead-on-select="goToProtocol($item.id)" typeahead-focus-first="false">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-info btn-flat">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </div><!-- /.navbar-collapse -->

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu" ng-if="false && REENABLE_MESSAGES">
          <!-- Menu toggle button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-success">4</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 4 messages</li>
            <li>
              <!-- inner menu: contains the messages -->
              <ul class="menu">
                <li><!-- start message -->
                  <a href="#">
                    <div class="pull-left">
                      <!-- User Image -->
                      <img ng-src="{{myprofilephoto.url}}" class="img-circle" alt="User Image" />
                    </div>
                    <!-- Message title and timestamp -->
                    <h4>
                      Support Team
                      <small><i class="fa fa-clock-o"></i> 5 mins</small>
                    </h4>
                    <!-- The message -->
                    <p>Thank you for submitting a protocol</p>
                  </a>
                </li><!-- end message -->
              </ul><!-- /.menu -->
            </li>
            <li class="footer"><a href="#">See All Messages</a></li>
          </ul>
        </li><!-- /.messages-menu -->

        <!-- Notifications Menu -->
        <li class="dropdown notifications-menu" ng-if="false && REENABLE_NOTIFICATIONS">
          <!-- Menu toggle button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">10</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 10 notifications</li>
            <li>
              <!-- Inner Menu: contains the notifications -->
              <ul class="menu">
                <li><!-- start notification -->
                  <a href="#">
                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                  </a>
                </li><!-- end notification -->
              </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
          </ul>
        </li>

        <!-- Add things Menu -->
        <li class="dropdown notifications-menu">
          <!-- Menu toggle button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-plus"></i>
            <span><i class="fa fa-caret-down"></i></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <ul class="menu">
                <li><!-- start notification -->
                  <a href="#" ui-sref="app.protocols.add({ownerType:'user'})">
                    <i class="fa fa-flask text-green"></i> Create a new protocol
                  </a>
                  <a href="#" ui-sref="app.teams.add()">
                    <i class="fa fa-users text-aqua"></i> Create a new team
                  </a>
                </li><!-- end notification -->
              </ul>
            </li>
          </ul>
        </li>



        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <img ng-src="{{myprofilephoto.url}}" class="user-image" alt="User Image">
            <span><i class="fa fa-caret-down"></i></span>
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->

            <li class="user-body">
              <div class="col-xs-12">
                <h4 style="color:#000">Signed in as {{currentUser.firstName || currentUser.profiles[0].profile.displayName}}</h4>
              </div>
            </li>

            <li class="user-body">
              <div class="col-xs-2 text-center">
                <i class="fa fa-flask text-green"></i> 
              </div>
              <div class="col-xs-10">
                <a href="" ui-sref='app.protocols.list' class='user-menu-text'>My protocols</a>
              </div>
            </li>

            <li class="user-body">
              <div class="col-xs-2 text-center">
                <i class="fa fa-users text-aqua"></i> 
              </div>
              <div class="col-xs-10">
                <a href="" ui-sref='app.teams.list' class='user-menu-text'>My teams</a>
              </div>
            </li>

            <li class="user-body">
              <div class="col-xs-2 text-center">
                <i class="fa fa-star text-yellow"></i> 
              </div>
              <div class="col-xs-10">
                <a href="" ui-sref="app.users.starred({id:currentUser.id})" class='user-menu-text'>My starred protocols</a>
              </div>
            </li>

            <li class="user-body">
              <div class="col-xs-2 text-center">
                <i class="fa fa-eye text-purple"></i> 
              </div>
              <div class="col-xs-10">
                <a href="" ui-sref="app.users.watched({id:currentUser.id})" class='user-menu-text'>My watched protocols</a>
              </div>
            </li>

            <li class="user-body">
              <div class="col-xs-2 text-center">
                <i class="fa fa-globe text-blue"></i> 
              </div>
              <div class="col-xs-10">
                <a href="" ui-sref="app.protocols.list({listPublic:true})" class='user-menu-text'>Explore Scitocols</a>
              </div>
            </li>

            <li class="user-body">
              <div class="col-xs-2 text-center">
                <i class="fa fa-user text-aqua"></i> 
              </div>
              <div class="col-xs-10">
                <a href="" ui-sref="app.users.view({id: currentUser.id})" class='user-menu-text'>My profile</a>
              </div>
            </li>

            <li class="user-body">
              <div class="col-xs-2 text-center">
                 <i class="fa fa-cogs text-gray"></i> 
              </div>
              <div class="col-xs-10">
                <a href="" ui-sref="app.users.profile" class='user-menu-text'>Settings</a>
              </div>
            </li>

            <li class="user-body">
              <div class="col-xs-2 text-center">
                <i class="fa fa-sign-out text-orange"></i> 
              </div>
              <div class="col-xs-10">
                <a href="" ng-click="logout()" class='user-menu-text'>Sign out</a>
              </div>
            </li>

          </ul><!-- ./dropdown-menu -->
        </li><!-- User account menu -->
      </ul>
    </div>
  </div><!-- /.container-fluid -->


</nav>
