<footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <a href="" ui-sref="app.about.index"><b>About us</b></a>
      </div>
      <strong>Copyright &copy; 2015 <a href="http://www.scitocols.com">Scitocols</a>.</strong> All rights reserved.
    </div><!-- /.container -->
</footer>