<nav class="navbar navbar-static-top" role="navigation">
  <!-- Navbar Right Menu -->
  <div class="container">
    <div class="navbar-header">
      <a href="/#/"><img src="../../../images/logo.png" alt="scitocol logo"></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menuoptions" ui-sref-active="active">
            <a class="" href="" id="menuoption{{item.name}}" ui-sref="{{item.sref}}"><i class="fa fa-fw {{item.icon}}"></i> {{item.name | translate}}</a>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="input-group" ng-if="false && REEANBLE_PUBLICSEARCH">
          <input type="text" class="form-control" id="navbar-search-input" placeholder="Find a protocol..." 
          ng-model="asyncProtocol" typeahead ="protocol.title for protocol in searchPublicProtocols($viewValue)"
          typeahead-on-select="goToProtocol($item.id)" typeahead-focus-first="false">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-info btn-flat">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </div><!-- /.navbar-collapse -->

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav navbar-form navbar-right">
          <a href="/#/register" class="btn btn-info btn-flat">
            Sign up
          </a>
          <a href="/#/login" class="btn btn-success btn-flat">
            Sign in
          </a>
      </ul>
    </div>

  </div><!-- /.container-fluid -->


</nav>
