<header class="main-header">
<navbar ng-controller="HomeCtrl"></navbar>
</header>
<div class="content-wrapper">
    <div ui-view class="container">
    </div><!-- /.container -->
</div>
<scitofooter></scitofooter>