<section class="content-header">
</section>
<section class="content">

  <div class="row">
    <div class="col-xs-8">
      <div class="row">
        <div protocol-listsmallx protocols="myprotocols" boxtitle="Your recent protocols"></div> 
      </div>
      <div class="row">
        <div protocol-listsmallx protocols="publicprotocols" boxtitle="Recent public protocols"></div> 
      </div>
    </div>

    <div class="col-xs-4">
        <div class="box">
            <div ng-if="loadingTeams" class="overlay"></div>
            <div ng-if="loadingTeams" class="loading-img"></div>
            <div class="box-header with-border">
                <h3 class="box-title" translate>Your teams</h3>
                <div class="box-tools pull-right">
                  <button class="btn btn-small btn-success" ui-sref='app.teams.add'>+ New team</button>
                </div>
            </div>
            <div class="box-body">
                <div class='list-group'>
                    <div ng-repeat="team in userTeams" class="list-group-item">
                        <i class="fa fa-users"></i>
                        <a href="" ui-sref="app.teams.view({id: team.id})">{{team.name}}</a>
                    </div>
                    <div ng-show="!userTeams.length && !loadingTeams" class="list-group-item">
                    <p> You're not a member of any teams. Why not 
                    <a href="" ui-sref='app.teams.add'> create a new team?</a></p>
                    </div>
                </div>
            </div>

            <div class="box-footer text-center">
                <button class="btn btn-primary" ui-sref="app.teams.list()">
                See all your teams
                </button>
            </div>
        </div>
    </div>
  </div>
</section>

