<div class="row">
  <div class="col-md-3">

    <!-- About Me Box -->
    <div class="floating-menu" style="top: {{scroll}}px; z-index: 2000 !important;">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Protocol Details</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

          <div>
            <strong><i class="fa fa-file-text-o margin-r-5"></i> Description</strong>

              <textarea class="protocol-input-box animate msd-elastic: \n; ng-valid ng-dirty" placeholder="Protocol description" ng-model="protocol.description" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 120px; max-height: 160px;"></textarea>

            <hr>
          </div>

          <div>

            <strong><i class="fa fa-quote-left margin-r-5"></i> Reference (DOI link):</strong>

              <input type="text" class="form-control" ng-model="protocol.references[0]" placeholder="http://"></input>
              <input type="text" ng-model="asyncCrossRef" placeholder="... or search CrossRef" typeahead='ref as ref.title for ref in searchCrossRef($viewValue)' typeahead-on-select = "selectCrossRef()" class="form-control">
            <hr>
          </div>

          <div ng-show="protocol.reference">
            <strong><i class="fa fa-book margin-r-5"></i> Reference</strong>

            <p class="text-muted">
              Not yet documented
            </p>

            <hr>
          </div>

          <div>
            <strong><i class="fa fa-tags margin-r-5"></i> Tags</strong>

              <tags-input class="bootstrap" style="max-width:250px" placeholder="Add tag" ng-model="protocol.tags" display-property="text" key-property = "text"/>
                    <auto-complete source = "getTags($query)" min-length=2></auto-complete>
              </tags-input>

            <hr>
          </div>

          <div>
            <strong><i class="fa fa-flask margin-r-5"></i> Materials</strong>

               <tags-input class="bootstrap" style="max-width:250px" placeholder="Add material" ng-model="protocol.materials" display-property="name" key-property = "name"/>
                <auto-complete source = "getMaterials($query)" min-length=2 ></auto-complete>
              </tags-input>

            <hr>
          </div>

          <div>

            <strong><i class="fa fa-wrench margin-r-5"></i> Equipment</strong>

              <tags-input class="bootstrap" style="max-width:250px" style="width:100%;" placeholder="Add equipment" ng-model="protocol.equipment" display-property="name" key-property = "name"/>
                    <auto-complete source = "getEquipment($query)" min-length=2 ></auto-complete>
              </tags-input>

            <hr>
          </div>



        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </div>
  </div>
  <!-- /.col -->



  <div class="col-md-8">

    <div class="box box-widget widget-protocol bg-purple">

        <div class="box-header">
                <h3 class="box-title protocol-title-header">

                    <input ng-model="protocol.title" type="text" class="protocol-title-edit" 
                    placeholder="Protocol title (required)" style="margin-left: 2px; width: 60%; color:black;" autocomplete="false" autocomplete="off">
                </h3>

                    <div class="box-tools pull-right">
                      <!-- Buttons, labels, and many other things can be placed here! -->
                      <!-- Here is a label for example -->
                        <span class="pull-right btn-group">
                            <button type="button" class="pull-right btn btn-primary" data-toggle="modal" data-target=".example-modal">Upload coverphoto...</button>
                        </span>
                    </div><!-- /.box-tools -->
        </div>

      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-protocol-header bg-purple" ng-style="{'background-image': 'url(' + protocol.coverphoto + ')'}" style="center center;" >
      </div>
    </div>

    <ul data-as-sortable="dragControlListeners" data-ng-model="protocol.steps"  style='padding-left:0px'>
       <li data-ng-repeat="step in protocol.steps" data-as-sortable-item>
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title protocol-title-header">
                    Step {{$index+1}}: <input ng-model="step.title" type="text" class="protocol-title-edit" placeholder="Step title (optional)" 
                    style="margin-left: 2px; width: 80%;"></h3>
                    <div class="box-tools pull-right">
                      <!-- Buttons, labels, and many other things can be placed here! -->
                      <!-- Here is a label for example -->
                      <span class="pull-right btn-group" style="margin-top: 7px;">
                        <a href="" class="btn btn-sm btn-default" ng-click="removeStep($index)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </span>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row text-center" data-as-sortable-item-handle>
                    <i class="fa fa-reorder"></i>
                </div>
                <tabset class="nav-tabs-custom">
                    <tab heading="Edit">
                        <textarea class="protocol-input-box animate msd-elastic: \n; ng-valid ng-dirty" placeholder="Step description" ng-model="step.text" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 160px; max-height: 200px;"></textarea>
                    </tab>
                    <tab heading="Preview" >
                        <div marked="step.text"></div>
                    </tab>
                </tabset>

            </div>

            <div class="box-footer">
                <div file-uploader istep="step" iedit="1"></div>
            </div><!-- box-footer -->
        </div>
        </li>
    </ul>
    <button class='btn btn-default btn-block' ng-click='addStep()'><i class="fa fa-plus"></i> Add step </button>
    
    <div class="box" style="margin-top:20px;">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-external-link"></i> Include another protocol</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="navbar-search-input" placeholder="Search protocols"     ng-model="asyncProtocol" typeahead ="protocol.title for protocol in searchProtocols($viewValue)"
                        typeahead-on-select="selectNestedProtocol($item.id, $item.title)"  />
                    </div>
                </div>
                <div class="col-md-4">
                    <div ng-if="nestedProtocolId">
                        <p>Selected protocol: {{nestedProtocolTitle}}</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="btn-group" ng-if="nestedProtocolId">
                        <button type="button" class="btn btn-sm btn-warning" ng-click='cancelNestedProtocol()'>Cancel</button>
                        <button type="button" class="btn btn-sm btn-success" ng-click='addNestedProtocol()'>Add all steps</button>
                        <button type="button" class="btn btn-sm bg-purple" ng-click='linkNestedProtocol()'>Link to this protocol</button>
                    </div>
                </div>

            </div>
            
        </div>
    </div>

    <!-- Results box -->
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title protocol-title-header">Result</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <tabset class="nav-tabs-custom">
                <tab heading="Edit">
                    <textarea class="protocol-input-box animate msd-elastic: \n; ng-valid ng-dirty" placeholder="Result description" ng-model="protocol.result" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 160px; max-height: 200px;"></textarea>
                </tab>
                <tab heading="Preview" >
                    <div marked="protocol.result"></div>
                </tab>
            </tabset>

        </div>

        <div class="box-footer">
            <div ng-if="protocol" file-uploader istep="protocol" iedit="1"></div>
        </div><!-- box-footer -->
    </div>

  </div>

  <div class="col-md-1">
      <div class="btn-group-vertical btn-group floating-menu" style="top: {{scroll}}px;">

          <button class="btn btn-app btn-success" ng-click="onSubmit()" id="buttonProtocolSave" translate ng-disabled="protocolForm.$invalid"><i class="fa fa-save"></i> Save
          </button>

          <button type="button" class="btn btn-app btn-default" ng-click="goToPreview()"><i class="fa fa-eye"></i> Preview</button>

          <tags-input class="bootstrap button-transferred animate-hide" ng-show="materialsExpanded" placeholder="Add material" ng-model="protocol.materials" display-property="name" key-property = "name"/>
              <auto-complete source = "getMaterials($query)" min-length=2 ></auto-complete>
          </tags-input>

          <div class="input-group button-transferred animate-hide" ng-show="execTimeExpanded">
              <label>Expected experiment time</label>
              <input type="text" class="form-control" ng-model="protocol.executiontime">
          </div>

          <button type="button" class="btn btn-app btn-default no-margin"><i class="fa fa-hourglass" ng-click='execTimeExpanded = !execTimeExpanded'></i> Execution time </button>


          <div class='button-menu-space' ng-show='REEANBLE_REFERENCES'></div>

          <button type="button" class="btn btn-app btn-default no-margin" ng-show='REEANBLE_REFERENCES'><i class="fa fa-newspaper-o"></i>References</button>

          <div class='button-menu-space'></div>

          <button class="dropdown  btn-default button-transferred animate-hide" ng-show="ownerExpanded"dropdown >
                <a href class="dropdown-toggle" dropdown-toggle>
                  {{ownerChoices[ownerChoiceIdx].ownerName}}

                  <span class="pull-right"><i class="fa fa-caret-down"></i> </span>
                </a>
                <ul class="dropdown-menu">
                  <li ng-repeat="choice in ownerChoices">
                    <a href ng-click="ownerChoiceFn($index)">{{choice.ownerName}}</a>
                  </li>
                </ul>
                
          </button>

          <button type="button" class="btn btn-app btn-default no-margin"><i class="fa fa-users" ng-click='ownerExpanded = !ownerExpanded' ></i>Owner</button>

           <div class='button-menu-space'></div>

          <div class="button-transferred animate-hide" ng-show="privacyExpanded">
              <button class="btn btn-app btn-primary" ng-model="protocol.isPublic" btn-radio="false"><i class="fa fa-lock"></i> Private</button>
              <button class="btn btn-app btn-primary" ng-model="protocol.isPublic" btn-radio="true"><i class="fa fa-globe"></i> Public</button>
          </div>


          <button type="button" class="btn btn-app btn-default no-margin"><i class="fa icon ion-key" ng-click='privacyExpanded = !privacyExpanded' ></i>Privacy </button>

           <div class='button-menu-space'></div>

          <button class="btn btn-app no-margin" ng-click="delete({id: protocol.id})">
              <i class="fa fa-trash-o"></i> Delete
          </button>
      </div>
  </div>

    <div ng-if="loading" class="overlay"></div>
    <div ng-if="loading" class="loading-img"></div>
</div>

<!-- upload modal -->
<div class="modal fade example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="uploadModal">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Change coverphoto</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <input type="file" img-cropper-fileread image="cropper.sourceImage" id="fileInput" accept="image/gif, image/jpeg, image/png"/>
                    <div>
                       <canvas width="500" height="300" id="canvas" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="400" crop-height="200" keep-aspect="true" touch-radius="30" crop-area-bounds="bounds"></canvas>
                   </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-12">
                    <div class="progress progress-sm active" ng-hide="data.progress < 5">
                      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" ng-style="{'width' : data.progress + '%'}">
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" ng-click="cancelUpload()">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="uploadPicture()">Keep this image</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div><!-- /.example-modal -->