<div class="box box-widget widget-protocol">
  <!-- Add the bg color to the header using any of the bg-* classes -->
  <div class="widget-protocol-header bg-purple" ng-style="{'background-image': 'url(' + protocol.coverphoto + ')'}" style="center center;" >
    <div class="box-tools pull-right">

      <span class="pull-right btn-group">

        <button class="btn" ng-click="goToEdit()">Back to edit</button>
        
      </span>
    </div>
    <h3 class="widget-protocol-username">{{protocol.title}}</h3>

  </div>
  <div class="box-footer">
    
  </div>
</div>

<div class="row">
  <div class="col-md-3">

    <!-- About Me Box -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Protocol Details</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">

        <div ng-show="protocol.description">
          <strong><i class="fa fa-file-text-o margin-r-5"></i> Description</strong>

          <p marked="protocol.description"></p>

          <hr>
        </div>

        <div ng-show="protocol.reference">
          <strong><i class="fa fa-book margin-r-5"></i> Reference</strong>

          <p class="text-muted">
            Not yet documented
          </p>

          <hr>
        </div>

        <div ng-show="protocol.tags.length > 0">
          <strong><i class="fa fa-tags margin-r-5"></i> Tags</strong>

          <p>
            <span class="label label-info" ng-repeat="tag in protocol.tags | orderBy:'text'"><a style="color:#FFF" ui-sref="app.protocols.list({tags: [tag]})">{{tag.text}}</a></span>
          </p>

          <hr>
        </div>
        <div ng-show="protocol.materials.length > 0">
          <strong><i class="fa fa-flask margin-r-5"></i> Materials</strong>

          <p>
            <span class="label label-success" ng-repeat="material in protocol.materials | orderBy:'name'"><a style="color:#FFF" ui-sref="app.protocols.list({materials: [material]})">{{material.name}}</a></span>
          </p>

          <hr>
        </div>
        <div ng-show="protocol.equipment.length>0">

          <strong><i class="fa fa-wrench margin-r-5"></i> Equipment</strong>

          <p>
            <span class="label label-danger" ng-repeat="equipment in protocol.equipment | orderBy:'name'"><a style="color:#FFF" ui-sref="app.protocols.list({equipment: [equipment]})">{{equipment.name}}</a></span>
          </p>

          <hr>
        </div>
        <div ng-show="protocol.executiontime">

          <strong><i class="fa fa-clock-o margin-r-5"></i> Time to execute</strong>

          <p ng-show="protocol.executiontime">
            {{protocol.executiontime}} minutes
          </p>

          <hr>
        </div>
        <div ng-show="protocol.references[0]">

          <strong><i class="fa fa-quote-left margin-r-5"></i> Reference (DOI link):</strong>

            <p><a href="{{protocol.references[0]}}" target="_blank" style="word-wrap: break-word;">{{protocol.references[0]}}</a></p>
          <hr>
        </div>

      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

    <!-- Profile Image -->
    <div ng-if="protocol.isPublic && protocolOwnerInfo.id" class="box box-primary">
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" ng-src="https://s3-eu-west-1.amazonaws.com/scitocols-profile-photos/{{protocolOwnerInfo.id}}.jpg" alt="User profile picture">

        <h3 class="profile-username text-center">{{protocolOwnerInfo.username}}</h3>

        <p ng-if="protocolOwnerInfo.firstName" class="text-muted text-center">{{protocolOwnerInfo.firstName}} {{protocolOwnerInfo.lastName}}</p>

        <a href="" ui-sref="app.users.view({id: protocolOwnerInfo.id})" class="btn btn-primary btn-block"><b>View profile</b></a>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

    <!-- Profile Image -->
    <div ng-if="protocol.isPublic && protocolTeamInfo.name" class="box box-primary">
      <div class="box-body box-profile">

        <h3 class="profile-username text-center">{{protocolTeamInfo.name}}</h3>

        <p class="text-muted text-center">Team protocol</p>

        <a href="" ui-sref="app.teams.view({id: protocolTeamInfo.id})" class="btn btn-primary btn-block"><b>View team</b></a>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->


  </div>
  <!-- /.col -->
  <div class="col-md-9">

    <tabset class="nav-tabs-custom">
      <tab heading="Instructions">
        <div step-list></div>
      </tab>
      <tab ng-if="protocol.result || protocol.bucket" heading="Result">
        <div class="post collapse-group">
          <div class="user-block">
                <span class="description">The outcome after following this protocol:</span>
          </div>
          <!-- /.user-block -->
          <p marked="protocol.result">
          </p>
          <div file-attachments istep='protocol.bucket'></div>
        </div>
      </tab>

    </tabset>

  </div>
  <!-- /.col -->
</div>




