<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Users starring protocol</h3>
        <div class="box-tools pull-right">
            <span class="label label-danger">{{users.length}} starring</span>
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
        <ul class="users-list clearfix">
            <li ng-repeat="user in users">
                <a href="" ui-sref="app.users.view({id: user.id})"><img style="width:64px" ng-src="https://s3-eu-west-1.amazonaws.com/scitocols-profile-photos/{{user.id}}.jpg" ui-sref="app.users.view({id: user.id})" alt="user image" /></a>
                <a class="users-list-name" href="" ui-sref="app.users.view({id: user.id})">{{user.firstName}} {{user.lastName}}</a>
                <span class="users-list-date">Starring</span>
            </li>
        </ul><!-- /.users-list -->
    </div><!-- /.box-body -->
    <div class="box-footer text-center">
        <button class="btn btn-primary" ui-sref="^.view({id: protoId})">
        Go back to protocol
        </button>
    </div>
</div>