<div class="info-box bg-yellow" ng-if='version'>
  <span class="info-box-icon"><i class="ion ion-clock"></i></span>
  <div class="info-box-content">
    <span class="info-box-number">You're looking at a previous version of this protocol</span>
    <span class="info-box-number" ng-if='false && REENABLE_OLDVERSIONINFO'>[TODO: Modification time, last user modified?]</span>
    <span class="info-box-number">
      Click <a ui-sref="app.protocols.view({id: protocolId, version:''})">here</a> for current version
    </span>
  </div><!-- /.info-box-content -->
</div>

<div class="box box-widget widget-protocol">
  <!-- Add the bg color to the header using any of the bg-* classes -->
  <div class="widget-protocol-header bg-purple" ng-style="{'background-image': 'url(' + protocol.coverphoto + ')'}" style="center center;" >
    <div class="box-tools pull-right" ng-show = "isEditor">

      <span class="pull-right btn-group">

        <a href="" class="btn btn-sm btn-default" ui-sref="^.edit({id: protocol.id})">
          <i class="fa fa-pencil"></i>
        </a>
        <a href="" class="btn btn-sm btn-default" ng-click="delete({id: protocol.id})">
          <i class="fa fa-trash-o"></i>
        </a>
      </span>
    </div>
    <h3 class="widget-protocol-username">{{protocol.title}}</h3>
    <h5 class="widget-protocol-desc">{{protocol.modified | amCalendar}}</h5>

  </div>
  <div class="box-footer">
    <div class="row">
      <div class="col-sm-4 border-right">
        <div class="description-block">
          <div star-widget starcount='0' starred='false'></div>
        </div>
        <!-- /.description-block -->
      </div>
      <!-- /.col -->
      <div class="col-sm-4 border-right">
        <div class="description-block">
          <div watcher-widget watchercount='0' watching='false'></div>
        </div>
        <!-- /.description-block -->
      </div>
      <!-- /.col -->
      <div class="col-sm-4">
        <div class="description-block">
          <label class="btn btn-app btn-primary" ng-if="!protocol.isPublic"><i class="fa fa-lock"></i> Private</label>
          <label class="btn btn-app btn-primary" ng-if="protocol.isPublic"><i class="fa fa-globe"></i> Public</label>
        </div>
        <!-- /.description-block -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
</div>

<div class="row">
  <div class="col-md-3">

    <!-- About Me Box -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Protocol Details</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">

        <div ng-show="protocol.description">
          <strong><i class="fa fa-file-text-o margin-r-5"></i> Description</strong>

          <p marked="protocol.description"></p>

          <hr>
        </div>

        <div ng-show="protocol.tags.length > 0">
          <strong><i class="fa fa-tags margin-r-5"></i> Tags</strong>

          <p>
            <span class="label label-info" ng-repeat="tag in protocol.tags | orderBy:'text'"><a style="color:#FFF" ui-sref="app.protocols.list({tags: [tag]})">{{tag.text}}</a></span>
          </p>

          <hr>
        </div>
        <div ng-show="protocol.materials.length > 0">
          <strong><i class="fa fa-flask margin-r-5"></i> Materials</strong>

          <p>
            <span class="label label-success" ng-repeat="material in protocol.materials | orderBy:'name'"><a style="color:#FFF" ui-sref="app.protocols.list({materials: [material]})">{{material.name}}</a></span>
          </p>

          <hr>
        </div>
        <div ng-show="protocol.equipment.length>0">

          <strong><i class="fa fa-wrench margin-r-5"></i> Equipment</strong>

          <p>
            <span class="label label-danger" ng-repeat="equipment in protocol.equipment | orderBy:'name'"><a style="color:#FFF" ui-sref="app.protocols.list({equipment: [equipment]})">{{equipment.name}}</a></span>
          </p>

          <hr>
        </div>
        <div ng-show="protocol.executiontime">

          <strong><i class="fa fa-clock-o margin-r-5"></i> Time to execute</strong>

          <p ng-show="protocol.executiontime">
            {{protocol.executiontime}} minutes
          </p>

          <hr>
        </div>

        <div ng-show="protocol.references[0]">

          <strong><i class="fa fa-quote-left margin-r-5"></i> Reference (DOI link):</strong>

            <p><a href="{{protocol.references[0]}}" target="_blank" style="word-wrap: break-word;">{{protocol.references[0]}}</a></p>
          <hr>
        </div>

      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

    <!-- Profile Image -->
    <div ng-if="protocol.isPublic && protocolOwnerInfo.id" class="box box-primary">
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" ng-src="https://s3-eu-west-1.amazonaws.com/scitocols-profile-photos/{{protocolOwnerInfo.id}}.jpg" alt="User profile picture">

        <h3 class="profile-username text-center">{{protocolOwnerInfo.username}}</h3>

        <p ng-if="protocolOwnerInfo.firstName" class="text-muted text-center">{{protocolOwnerInfo.firstName}} {{protocolOwnerInfo.lastName}}</p>

        <a href="" ui-sref="app.users.view({id: protocolOwnerInfo.id})" class="btn btn-primary btn-block"><b>View profile</b></a>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

    <!-- Profile Image -->
    <div ng-if="protocol.isPublic && protocolTeamInfo.name" class="box box-primary">
      <div class="box-body box-profile">

        <h3 class="profile-username text-center">{{protocolTeamInfo.name}}</h3>

        <p class="text-muted text-center">Team protocol</p>

        <a href="" ui-sref="app.teams.view({id: protocolTeamInfo.id})" class="btn btn-primary btn-block"><b>View team</b></a>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->


  </div>
  <!-- /.col -->
  <div class="col-md-9">

    <tabset class="nav-tabs-custom">
      <tab heading="Instructions">
        <div step-list></div>
      </tab>
      <tab ng-if="protocol.result || protocol.bucket" heading="Result">
        <div class="post collapse-group">
          <div class="user-block">
                <span class="description">The outcome after following this protocol:</span>
          </div>
          <!-- /.user-block -->
          <p marked="protocol.result">
          </p>
          <div ng-if="protocol.bucket" file-attachments istep="protocol.bucket"></div>
        </div>
      </tab>
      <tab heading="Contributions" >
        <div ng-if='!version' commit-list commits='protocol.commits'></div>
      </tab>
      <tab heading="Discussion" >
        <div comment-list commentable-id='{{protocolId}}' comments-array='empty' is-discussion='true'>
        </div>
      </tab>
    </tabset>

  </div>
  <!-- /.col -->
</div>




