<div class="box">
    <div class="box-body">
        <div class='list-group'>
    <div ng-repeat="comment in comments" class="list-group-item">
        <span class="pull-right btn-group" style="margin-top: 7px;">
          <a href="" class="btn btn-sm btn-default" ng-click="delete({id: comment.id})">
              <i class="fa fa-trash-o"></i>
          </a>
        </span>
        
        <p>
        <a class="list-group-item-text" ui-sref="app.users.view({id:comment.userId})">User: {{comment.userId}}</a>
        </p>
        <a href="" ui-sref="app.protocols.view({id: comment.commentableId})" class="list-group-item-text">Protocol: {{comment.commentableId}}</a>
        <p class="list-group-item-text">Date created: {{comment.created | date:'medium'}}</p>
        <p class="list-group-item-text">Comment message: {{comment.text}}</p>
        <p class="list-group-item-text">Comment owner type: {{comment.commentableType}}</p>

    </div>
    <div ng-show="!comments.length" class="list-group-item">
        <h4 class="list-group-item-heading" translate>
            There are no comments
        </h4>
</div>


    </div>
    <div ng-if="loading" class="overlay"></div>
    <div ng-if="loading" class="loading-img"></div>
</div>