<a class="btn btn-app" ng-click="toggleStar()">
	<span class="badge bg-purple">{{starcount}}</span>
	<i ng-if="starred" class="fa fa-star"></i><i ng-if="!starred" class="fa fa-star-o"></i> Stars
</a>
<br>
<a ng-if="starcount > 0" href="" ui-sref="app.protocols.starring({protoId:protoId})">View starring users</a>