<div ng-controller="FilesCtrl" data-ng-init="load()">

  <table ng-if="files" class="table table-striped">
      <tbody>
      <tr ng-repeat="file in files">
          <td>
              <a href="{{apiUrl}}/Containers/{{istep.bucket}}/download/{{file.name}}" target="_blank"><strong>{{file.name }}</strong></a>
          </td>
      </tr>
      </tbody>
  </table>

  <div ng-if="iedit">
        <button class="btn btn-primary btn-xs" ngf-select ng-model="data.file">Select file..</button>

        <div>
          {{ data.file.name }} 
          <a ng-if="data.file.name" href="" class="btn btn-default btn-xs" ng-click="data.file = []" title="Delete the file">
            <span class="fa fa-trash-o"></span>
          </a>
        </div>

        <button ng-if="data.file.name" class="btn btn-success btn-xs " ng-click="submit(data)">Submit</button>
        <div ng-if="data.progress > 0" class="progress progress-sm active">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{data.progress}}%">
          </div>
        </div>
  </div>


</div>


