<ul class="gallery gallery1">
  <li ng-repeat="image in images">
    <div class="center-cropped">
      <a href="" ng-click="openLightboxModal($index)">
        <img ng-src="{{image.url}}">
      </a>
    </div>
  </li>
</ul>

<table class="table table-striped">
    <tbody>
    <tr ng-repeat="file in files">
        <td>
            <a href="{{apiUrl}}/Containers/{{istep}}/download/{{file.name}}" target="_blank"><strong>{{file.name }}</strong></a>
        </td>
    </tr>
    </tbody>
</table>


