<a class="btn btn-app" ng-click="toggleWatcher()">
	<span class="badge bg-red">{{watchercount}}</span>
	<i ng-if="watching" class="fa fa-eye"></i><i ng-if="!watching" class="fa fa-eye-slash"></i> Watchers
</a>
<br>
<a ng-if="watchercount > 0" href="" ui-sref="app.protocols.watching({protoId:protoId})">View watching users</a>