<br>
<form class="form-horizontal">
  <div class="form-group margin-bottom-none">
    <div class="col-sm-9">
      <input ng-model="comment.text" class="form-control input-sm" placeholder="Comment">
    </div>
    <div class="col-sm-3">
      <button ng-click="addCommentLocal()" type="submit" class="btn btn-danger pull-right btn-block btn-sm">Send</button>
    </div>
  </div>
</form>