<div>
  <a ng-if="!isDiscussion" href="" data-toggle="collapse" data-target="#viewcomments{{commentableId}}" class="pull-right link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments ({{commentsArray.length}})</a>
  <br>
  <div id="viewcomments{{commentableId}}" ng-class="isDiscussion ? '' : 'collapse'">
    <div class="box-body box-comments">
      <div ng-repeat="comment in commentsArray" class="box-comment">
        <!-- User image -->
        <a href="" ui-sref="app.users.view({id: comment.userId})"><img class="img-circle img-sm" ng-src="https://s3-eu-west-1.amazonaws.com/scitocols-profile-photos/{{comment.userId}}.jpg" alt="User Image"></a>

        <div class="comment-text">
              <span class="username">
                <a href="" ui-sref="app.users.view({id: comment.userId})">{{comment.user.username}}</a>
                <span class="text-muted pull-right">{{comment.created | date:'medium'}}</span>
              </span><!-- /.username -->
          {{comment.text}}
        </div>
        <!-- /.comment-text -->
      </div>
    </div>

    <div comment-editor commentable-id='{{commentableId}}' comments-array='empty'></div>
  </div>
</div>
